@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#canvas {
    display: block;
    margin : 0 auto;
}

#Letter {
    text-align: center;
}

button {
    display: inline-block;
   
}

.btn {
    border: 3px solid #fff;
    border-radius: 100%;
    height: 5vw;
    width: 5vw;
    text-align: center;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.3em;
}

#q {
    background:#FF0000;
    box-shadow: 0 -2px 0 3px #8b1111 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
    
}

#s {
    background:#FAFF00;
    box-shadow: 0 -2px 0 3px #a4a717 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset
}

#d {
    background:#24FF00;
    box-shadow: 0 -2px 0 3px #179904 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

#k {
    background:#00F0FF;
    box-shadow: 0 -2px 0 3px #027f88 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

#l {
    background:#001AFF;
    box-shadow: 0 -2px 0 3px #021091 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
}

#m {
    background:#BD00FF;
    box-shadow: 0 -2px 0 3px #630386 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset
}

body {
    background-image: url(https://i.jeuxactus.com/datas/jeux/g/u/guitar-hero-iii-legends-of-rock/xl/guitar-hero-iii-le-4e263239b9971.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size:cover;
   
}
#compteur {
    color:crimson;
    text-decoration: underline;
    width: 9em;
    margin: 2px;
    background:black;
}

#erreur {
    color: white;
    text-decoration: underline;
    background: blue;
    width: 12em;
    margin: 2px;
    background: green;
}

p {
    font-family:fantasy;
    text-align: center;
    color:white;
    font-size: 50px;
    text-decoration: underline;
}
.play {
    font-family: 'Courier New', Courier, monospace;
    color: #FF0000;
}
#strt {
    text-align: center;
    overflow:auto;
}
#start {
    background-color:black;
    font-size: 30px;
}
.all {
display: list-item;
}