@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("../CSS/reset.css");

#tittle {
    font-family: "Bebas Neue", cursive;
    font-size: 4rem;
    color: white;
}

body {
    background-image: url(../IMG/5696394-concert-wallpapers.jpg);
}

.site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#start {
    width: 235px;
    height: 70px;
    border-radius: 5px;
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 2em;
    position: absolute;
    top: 50%;
    background-color: transparent;
    border-color: white;
}

#game {
    display: flex;
    justify-content: center;
}

#parent {
    position: relative;
}

#canvas {
    margin: 0 auto;
}

#score {
    position: relative;
    z-index: 2;
    padding: 0.875rem 0;
    font-size: 2rem;
    align-items: center;
    /* background: #000; */
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    width: 250px;
    color: white;
    margin-bottom: 10px;
    /* border: 4px solid; */
    /* border-image: linear-gradient( 270deg, #6f42c1, #0366d6, #28a745, #ffd33d, #f66a0a, #d73a49, #6f42c1 ) 10; */
    border-radius: 10px;
    font-family: "Bebas Neue", cursive;

}

#Letter {
    display: inline-block;
    text-align: center;
    position: absolute;
    margin-top: -10%;
}

.btn {
    display: inline-block;
    margin-top: 5px;
    margin-left: 68px;
    font-family: "Bebas Neue", cursive;
    color: white;
    font-size: 1.3em;
    text-align: center;
}

#q {
    margin-left: 95px;
}

/* border: 3px solid #fff;
    border-radius: 100%;
    height: 50%;
    width: 50%;
    margin: 9px; 


#d {
    background: #24ff00;
    box-shadow: 0 -2px 0 3px #179904 inset, 0 5px 5px rgba(3, 25, 41, 0.17),
        0 15px rgba(255, 255, 255, 0.25) inset;
}

#k {
    background: #00f0ff;
    box-shadow: 0 -2px 0 3px #027f88 inset, 0 5px 5px rgba(3, 25, 41, 0.17),
        0 15px rgba(255, 255, 255, 0.25) inset;
}

#l {
    background: #001aff;
    box-shadow: 0 -2px 0 3px #021091 inset, 0 5px 5px rgba(3, 25, 41, 0.17),
        0 15px rgba(255, 255, 255, 0.25) inset;
}

#m {
    background: #bd00ff;
    box-shadow: 0 -2px 0 3px #630386 inset, 0 5px 5px rgba(3, 25, 41, 0.17),
        0 15px rgba(255, 255, 255, 0.25) inset;
} */